* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01073865290819.5d61d475f0072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #404346;
    top: 0px;
    border-bottom: solid 0.5px rgb(154, 204, 245);
    position: sticky;
    display: flex;
    justify-content: center;
}

.navbar li {
    font-family: "heebo", Arial;
    font-size: 35px;
    font-weight: bolder;
    padding: 5px 100px;
}

li {
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

h4 {
    color: rgb(73, 73, 73);
    padding: 15px 0px;
}

.pilihan {
    font-family: "Heebo";
    font-weight: bolder;
    padding: 30px 0px;
}

p {
    text-align: left;
    line-height: 1.8;
}

a {
    color: white;
    text-decoration: none;
}

.topside {
    display: flex;
    justify-content: center;
}

.topside img {
    border: solid 5px;
}

.middleside {
    margin: 10px 500px;
}

.pilihan {
    text-align: center;
}

#story {
    background-color: rgba(255, 255, 255, 0.575);
    margin: 20px 0px;
    font-family: "heboo";
    color: rgb(54, 94, 60);
    border: solid white;
}

.submit {
    padding: 10px 50px;
    border-radius: 15%;
    background-color: rgb(86, 104, 153);
    cursor: pointer;
    margin: 0 35%;
}

#story {
    font-family: "heebo", Arial;
    font-size: 20px;
    font-weight: bolder;
}